<h1 class="app__logo" src="assets/logo-final@2x.png" alt="Softay" routerLink="">Softay</h1>

<div class="header__right-elements">
  <!--<form #searchForm="ngForm" (ngSubmit)="search(searchForm)" class="header__search">
    <input name="search" required type="text" class="header__search-input" placeholder="buscar" ngModel (keydown)="submitFormIfEnter($event, searchForm)">
    <button class="header__search-button">
      <svg class="header__search-icon">
        <use xlink:href="assets/sprite.svg#icon-magnifier"></use>
      </svg>
    </button>
  
    <input type="submit" hidden>  
  </form>-->
  
  <nav class="header__nav">
    <a class="header__nav-item" routerLink="/about">About</a>
  </nav>
</div>

