$logo-font: 'Comfortaa', cursive;
$primary-font: 'Comfortaa', cursive;
$black: #262525;
$background: #dfe0e0;
$yellow: #FFE800;
  
$breakpoints: (
  small-phone: 21.875em,
  phone: 47.9375em,
  tablet: 61.875em,
  desktop: 74.9375em,
);


@mixin max-width($breakpoint) {
    @each $name, $value in $breakpoints {
      @if $breakpoint == $name {
        @media (max-width: $value) {
          @content;
        }
      }
    }
  }
  
  @mixin min-width($breakpoint) {
    @each $name, $value in $breakpoints {
      @if $breakpoint == $name {
        @media (min-width: $value) {
          @content;
        }
      }
    }
  }
  